#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-scores {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-scores:hover {
    transform: scale(1.25);
    color: #037a45;
    font-weight: lighter;
    text-shadow: 0px 0px 3px #037a45, 0px 0px 5px #000;
}

@media screen and (max-width: 768px) {
    #highScoresList .high-scores {
      font-size: 2rem;
    }
  }
  